

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/style.css">

    @if(IsSectionDefined("navStyle"))
    {
        @RenderSection("navStyle", required: false)
    }
    <title>Tasks</title>
</head>
<body>
    <header>
        <nav>
            <span class="navActivity"><strong>Actividades</strong></span>
            <span class="navTask"><strong>Tareas</strong></span>
            <span class="navPerson"><strong>Personas</strong></span>
        </nav>
    </header>

    @RenderBody()
    @RenderSection("Scripts", required: false)
</body>
</html>