@*TODO agregar campo para la descripción de cada tarea*@
@page
@using Tasks.EntityModels
@model Tasks.Web.Pages.TasksModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@section extraStyles {
  <link rel="stylesheet" href="/styles/Tasks.css">
}

<div class="tasks">
  <table>
    <thead class="thead-inverse">
      <tr>
        <th class="del-button"></th>
        <th class="nom">Nombre</th>
      </tr>
    </thead>
    <tbody>
      @if (Model.Tasks is not null)
      {
        @foreach (Tasks.EntityModels.Task t in Model.Tasks)
        {
          <tr>
            <td>
              <form method="post" asp-page-handler="Delete">
                <input type="hidden" name="idToDelete" value="@t.TaskID" />
                <button class="btn btn-sm btn-danger" type="submit">x</button>
              </form>
            </td>
            <td>@t.TaskName</td>
          </tr>
        }
      }
    </tbody>
  </table>
</div>

<div class="addTask">
  <form method="post">
    <div>
      <label for="TaskName">Nombre</label><br>
      <input type="text" asp-for="Task!.TaskName" id="TaskName">
    </div>
    <div>
      <label for="TaskDesc">Descripción</label><br>
      <input class="desc-input" type="text" asp-for="Task!.Description" id="TaskDesc"><br>
      <input asp-page-handler="Add" type="submit" value="Añadir">
    </div>
  </form>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const message = '@TempData["Exists"]';
    if (message) {
      alert(message);
    }
  });

  document.addEventListener("DOMContentLoaded", function () {
    const message = '@TempData["InUse"]';
    if (message) {
      alert(message);
    }
  });

</script>