.navPerson { 
    background-color: rgb(78, 159, 159); 
    cursor: default;
} 

.mt-100 {
    margin-top: 100px;
}

.persons-table {
    align-self: flex-start;
    width: max(60%, 550px);
    height: 550px;
    margin-right: 5%;
    overflow-y: auto;
}

.form{
    width: 35%;
    height: fit-content;
}

.del-col{
    width: 62.8px;
}

.name-col{
    width: 45%;
}

.task-col{
    width: 50%;
}
.add-col{
    width: 50px;
}
.container{
    position: sticky;
}

