.mt-100 {
  margin-top: 100px;
}

.tasks-table {
  align-self: flex-start;
  width: max(60%, 550px);
  max-height: 770px;
  margin-right: 5%;
  overflow-y: auto;
}

.form {
  width: 35%;
  height: fit-content;
}

.del-col {
  width: 30px;
}

.name-col {
  width: 55%;
}

.name-col {
  width: 35%;
}

.container {
  position: sticky;
}